/* styles.css */

body {
    font-family: 'Futura PT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: white;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
}

#countdown div {
    margin: 0 10px;
}

#countdown div span {
    display: block;
    font-size: 1.5rem;
    margin-top: 10px;
    color: #888;
}