/* styles.css */
body {
    font-family: 'Futura PT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #141414;
    color: white;
}

#countdown {
    text-align: center;
    font-size: 5rem;
}

#countdown div {
    margin: 10px;
}