/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

#countdown {
    text-align: center;
    font-size: 5rem;
}

#countdown div {
    margin: 10px;
}